@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
.navbar {
    background-color: black;
    overflow: hidden;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: rgba(0, 0, 0, 0.8);
}

#mainbtn {
    position: relative;
    background-color: rgb(119, 12, 0);
}

#mainbtn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 109px;
    width: 46px;
    height: 51px;
    background-color: rgb(119, 12, 0);
    clip-path: polygon(0 0, 1% 0%, 100% 100%, 0% 100%);
}

#mainbtn:hover,
#mainbtn:hover::after {
    color: rgb(119, 12, 0);
    background-color: white;
}

#endBtn {
    position: relative;
}

#endBtn a {
    background-color: white;
    color: rgb(241, 57, 50);
}


/*#endBtn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 102px;
    width: 46px;
    height: 51px;
    background-color: white;
    clip-path: polygon(99% 0, 100% 0%, 100% 100%, 0% 100%);
}*/

#endBtn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 101px;
    width: 50%;
    height: 100%;
    background-color: white;
    clip-path: polygon(90% 0, 100% 0%, 100% 100%, 0% 100%);
}

#endBtn:hover a,
#endBtn:hover::after {
    color: white;
    background-color: rgb(241, 57, 50);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-container iframe {
    width: 100%;
    height: 100%;
}

.logo-container {
    position: relative;
    display: inline-block;
}

.logo-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo {
    position: relative;
    display: block;
    height: 20vh;
}

.nc-container {
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
}

.nc-container h2 {
    font-size: 48px;
    text-shadow: 2px 2px 8px rgba(140, 70, 62, 0.9);
}

.learnMore {
    background-color: black;
    overflow: hidden;
    color: white;
    padding: 10px;
    padding-left: 100px;
    padding-right: 80px;
}

.sale {
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
}

.sale .saleButton {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sale .saleButton img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-left: 5px;
}

.sale h1 {
    background: rgb(119, 12, 0);
    color: white;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
}

.sale h1::before {
    content: '';
    position: absolute;
    top: 90vh;
    left: 65px;
    width: 50px;
    height: 120px;
    background-color: rgb(119, 12, 0);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 50%);
    z-index: -1;
}

.wTButton img {
    width: 300px;
}

.sale .wTButton {
    margin-left: auto;
}

.credits {
    text-align: center;
    color: white;
    background-color: black;
}

#lang {
    color: white;
}

#pub {
    position: relative;
    text-align: center;
    color: white;
}

#pub::before,
#pub::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 4%;
    height: 1px;
    background-color: white;
}

#pub::before {
    left: 40%;
}

#pub::after {
    right: 40%;
}

#platformList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#platformList li {
    margin: 1px;
}

#platformList img {
    max-width: 40%;
    height: auto;
}

#paraPLogo {
    width: 1%;
}

#paraP4Logo {
    width: 3%;
}

#paraP5Logo {
    width: 3%;
}